h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}
a {
    display:block;
    color : #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    border: 2px solid #ffffff;
    display: block;
    padding: 8px 25px;
    max-width: 350px;
    margin : 0 auto 15px auto;
    text-decoration: none !important;
}

a.box:hover
{
        background-color: #060042;
        color: #ffffff;
}

img {
    width:120px;
    height: 120px;
    opacity: 0.4;
}


body {
    background-color: #060042;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(2%,#060042),color-stop(108%,#20A39E));
    background-image: linear-gradient(#060042 2%,#20A39E 108%);
    color: #ffffff;
    min-height: 110vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
